/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .fia_dataTables_head {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.fia_dataTables_head .dataTables_filter > label {
    margin: 0;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    align-items: center;
}

.fia_dataTables_head .dt-buttons .dt-button {
    margin: 0;
    padding: 5px 15px;
    text-transform: capitalize;
    font-size: .75em;
}

div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
    color: black;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
    padding-left: 45px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: block;
}